<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <script type="text/javascript" src="/canvasjs.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/jquery-3.5.1.js"></script>
</head>
<body>

<script th:inline="javascript">
    function explodePie (e) {
        if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
        } else {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
        }
        e.chart.render();

    }

    var labelScore = /*[[${labelScore}]]*/ null;

    console.log(labelScore);

    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            exportEnabled: true,
            animationEnabled: true,
            title:{
                text: "Categories"
            },
            legend:{
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "pie",
                showInLegend: true,
                toolTipContent: "{name}: <strong>{y}%</strong>",
                indexLabel: "{name} - {y}%",
                dataPoints: labelScore
            }]
        });
        chart.render();
    }

</script>

</body>
<div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
</html>
